body{
    background-color: gray;
}
#header{
    background-color: burlywood;
    color: green;
}

.jumbotron{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.judul{
    text-align: center;
    min-width: 600px; ;
}
.judul hr{
    width: 100px;
    border: solid darkgrey;
}